/* Header */
.header {
  width: 100%;
  height: 60px;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-blue);
}

.profile {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}
.profile-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
